
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  /*이부분 커밋*/
  width: 1920px;
  height: 100%;
  margin: 0;
  padding: 0;
}


/*공통 css*/
.header, footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding :26px 15%;
}









/*헤더 css*/

header{
  background-color: #F2E9D8;
}
.header {
}
nav{
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li{
  margin-right: 30px;
}
nav ul li:last-child{
  margin-right: 0px;
}
nav .btn_wrap{
  margin-left: 49px;
}
.btn_wrap button {
  border: none;
  background-color: #D97652;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 15px 30px;
}



/*main_visul css*/
.main_visual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2E9D8;
  padding :0 15%;
}

.main_visual_right > div {
  margin : 40px 0;
}

.main_intro{
  font-size: 40px;
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  line-height: 60px;
}
.main_explain{
  line-height: 1.2;
  font-size : 16px;
  font-weight: 400;
}

/*sub_visual css*/

.sub_visual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 15%;
}

.sub_visual img{
  border-radius:30px;

  padding-right: 120px;
}

.sub_intro{
  font-size: 36px;
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 30px;
}
.sub_explain{
  line-height: 1.2;
  font-family: Pretendard,sans-serif;
  font-size : 16px;
  font-weight: 400;
}

#openModalBtn:hover{
  background-color: coral;
  cursor: pointer;
}

/*cat_gallery css*/
.cat_gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 88px;
}
.cat_gallery_intro{
  margin-bottom: 88px;
}
.cat_gallery_intro p:first-child{
  color: #D97652;
  font-family: Pretendard,sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}
.cat_picture_more{
  margin-top: 64px;
}
.cat_picture_more p{
  font-size: 24px;
  font-family: Pretendard,sans-serif;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 28px;
}
.cat_img_scroll{
  max-height: 900px;
  overflow-y: auto;
}
.cat_img_scroll::-webkit-scrollbar {
  display: none;
}
.img-grid{
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  width: 1340px;
  justify-content: space-between;
  border-radius: 30px;
}
.img-grid li {
  box-sizing: border-box;
  margin: 36px 20px 36px 20px;
  transition: transform 0.3s ease-in-out;
}
.img-grid li img{
  border-radius: 30px;
  width: 378px;
  height: 378px;
  filter: drop-shadow(10px 6px 10px #c3c3c3);
}

.img-grid li:hover {
  transform: scale(1.1);
}
#show_more_btn:hover{
  transform: scale(1.1);
}




.map_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15%;
}




.map_section>div{
  padding-top: 68px;
  text-align: left;
  width: 100%;
}
.map_intro{
  border-top: 1px solid #C4C4C4;
}
.map_intro p:first-child {
  font-size: 36px;
  font-family:Pretendard,sans-serif;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 20px;
}

.map_intro p:last-child{
  margin-bottom: 14px;
}


#map{
  border-radius: 10px;
  width: 100%;
  height: 520px;
}

/*subs_blog css*/
.subs_blog{
  background-color: #263140;
  color: #FFF;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top:100px;
  margin: 0 15%;
  padding: 50px 58px;
}

.subs_blog_explain{
  margin-right: 150px;
}

.subs_blog_explain :first-child{
  font-family: Pretendard,sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 16px;
}

.subs_blog_explain :last-child{
  font-size: 14px;
}

.subs_blog_form{
  position: relative;
}

.subs_blog_form input{
  border-radius: 60px;
  border: none;
  width: 530px;
  height: 60px;
}

/* 에러 메시지 스타일링 */
#email:invalid {
  border: 2px solid red;
}

.subs_blog_form button {
  background-color: #D97652;
  color: #FFF;
  border-radius: 40px;
  border:none;
  position: absolute;
  padding: 15px 29px;
  right: 0;
  bottom: 0;
  margin-bottom: 7px;
  margin-right: 6px;
}

.email-label{
  display: flex;
  position: relative;
  align-items: center;
}

.icon-container{
  position: absolute;
  left: 28px;
}

.email-label input::placeholder{
  text-indent: 60px;
}

.email-label input:focus::placeholder {
  opacity: 0;
}



/* modal css */
#subs_modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  border: none;
  z-index: 1000;
  width: 600px;
  height: 400px;
  background-color: #F2E9D8;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding-top:60px;
  padding-bottom:40px;
  width: 80%;
  height: 100%;
  margin: auto;
}

.modal_intro :first-child {
  color: #D97652;
  text-align: center;
  font-family: Pretendard,sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 12px;
}

.modal_intro {
  margin-top: 24px;
  margin-bottom: 38px;
}

.modal-content button {
  border-radius: 40px;
  background: #D97652;
  padding: 15px 29px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Pretendard,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

/*버튼 상하단 이동버튼 css*/
#scrollTop,#scrollDown{
  display: none;
  position: fixed;
  opacity: 0;
}

#scrollTop.show,#scrollDown.show{
  display: block;
  opacity: 1;
}

#scrollTop {
  bottom: 72px;
  right: 19px;
  cursor: pointer;
  z-index: 99;
}


#scrollDown {
  bottom: 28px;
  right: 19px;
  cursor: pointer;
  z-index: 99;
}


/*cat_img css*/


/*footer css*/

.cat_img img{
  width: 100%;
}

.sns_area{
  display: flex;
}
.sns_area li{
  padding-left: 20px;
}



