/*공통 css*/
.header, footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding :26px 15%;
}

main{}


/*헤더 css*/

header{
  background-color: #F2E9D8;
}
.header {
}
nav{
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li{
  margin-right: 30px;
}
nav .btn_wrap{
  margin-left: 49px;
}
.btn_wrap button {
  border: none;
  background-color: #D97652;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 15px 30px;
}

/*main_visul css*/
.main_visual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2E9D8;
  padding :0 15%;
}

.main_visual_right > div {
  margin : 40px 0;
}

.main_intro{
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.main_explain{
  line-height: 1.2;
  font-size : 16px;
  font-weight: 400;
}

/*sub_visual css*/

.sub_visual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 14%;
}

.sub_visual img{
  width: 660px;
  height: 390px;
  padding-right: 110px;
}

.sub_intro{
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 30px;
}
.sub_explain{
  line-height: 1.2;
  font-size : 16px;
  font-weight: 400;
}

/*cat_gallery css*/
.cat_gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cat_gallery_intro p:first-child{
  color: #D97652;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}
.cat_picture_more p{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 28px;
}



/*map_section css*/

/*.map_section{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/
/*#map{*/
/*  padding: 0 29px;*/
/*  margin-bottom: 113px;*/
/*}*/





/*footer css*/
.sns_area{
  display: flex;
}
.sns_area li{
  padding-left: 20px;
}



